{% extends 'base.html.twig' %}

{% block title %}Hello AssessmentController!{% endblock %}
{% block body %}
    <div id="app">
        <quiz-assessment :quiz-id="{{ quiz.id }}"/>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('assessment') }}
{% endblock %}
{% block javascripts %}
    <script src="https://questions-va.learnosity.com?latest"></script>
    {{ encore_entry_script_tags('assessment') }}
{% endblock %}
