{% extends 'base.html.twig' %}

{% block title %}Hello QuizController!{% endblock %}
{% block body %}
    <div>
        <ul>
            {% for quiz in quizzes %}
                <li><a href="{{ path('quiz_editor', {id: quiz.id}) }}">#{{ quiz.id }} - {{ quiz.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
{% endblock %}
